
form {
	display: inline;
}

.tbWrap{
	
	width: 400px;
	height: 500px;
	margin: auto;
	text-align: center;
}

#modTb tr, #modTb td{
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}

table{
	border-top: 1px solid #444444;
    border-collapse: collapse;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.modTitle{
	font-weight: 900;
}

.submit{
	font-weight: 900;
	width: 100px;
	height: 50px;
	
}