@charset "UTF-8";
body {
	color : #99A799;
}

#wrrap {
	width: 100%;
	height : 100%;
	text-align: center;
	
 }
#container {
	margin-top : 150px;
	display: inline-block;
	width : 1030px;
	height: 800px;
	border : 1px solid #99A799;
	border-radius : 2px;
	background-color: #FEF5ED;
}

#text_a {
	resize: none;
	width : 1000px;
	height: 500px;
	padding:10px;
	border:none;
	outline: none;
	color : #99A799;
}

#articlewriter {
	margin-right : 10px;
}

#writer {
	float : left; 
	border : 1px solid #ced4da;
	border-radius: 4px;
 	background-color: #e9ecef;
 	width:100px; 
	height:30px;
	line-height: 1.5;
}
#writer2 {
	background-color: #FEF5ED; 
	float : left;
	margin-left: 3px; 
	border : 0; 
	margin-bottom: 10px;
}

#last_btn {
	padding-top : 100px;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  float : left;
  margin-top:2px;
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}