@charset "UTF-8";
        * {
            margin: 0;
            padding: 0;
           /*max-width: 1530px;*/
        }
        body {
            background-color: #fff;
            color: rgba(0, 0, 0, 0.842);
        }
        #wrapper {
            margin: auto;
        }
      
        /* 헤더부분
        1) 헤더 네비 */
        .mainHeader{
            box-sizing: border-box;
            position:fixed;
            width:100%;
            margin: auto;
            top:0;
            height: 80px;
            padding: 10px;
            /* border-bottom: 1px solid black; */
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4);
            background-color: #fff;
            z-index: 5;
        }
        .logo {
            display:inline-block;
            margin: 0 40px;
            background-image: url("https://ifh.cc/g/AWAk4k.png");
            background-size: 500px; 
            background-repeat: no-repeat;
            width: 200px;
            height: 50px;
            background-position: center;
        }
        .logo:hover {
            cursor: pointer;
        }
        nav {
            display: flex !important;
            justify-content: space-between;
            flex-grow: 1;
            font-size:18px;
            margin-right: 60px;
        }
        .navtap_items {
            display: flex;
            list-style: none;
            line-height: 60px;
            
            color:rgba(0, 0, 0, 0.781);
            text-align: center;
        }
        .navtap {
            margin: 0 10px;
            width: 100px;
            font-size: 15px;
        }
        .navtap:hover {
            cursor: pointer;
            color:rgba(0, 0, 0, 0.5)
        }
        nav button {
            margin: 0 10px;
            width: 100px;
            height: 40px;
            font-size: 15px;
            border:none;
            background-color: #69c7b5;
            border-radius: 5px;
            box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.445);
            margin-left: 25px;
            cursor: pointer;
        }
        .logout {
            margin-top: 4px;
            line-height: 40px;
        }
        nav button:hover {
            background-color: #76d1c0;
        }

        /* 2) dropdown */
        .drop {
            display: none;
            background-color: rgb(253, 253, 253);
            border-radius: 10px;
            width: 100px;
            height: 0px;
            position:absolute;
            transition: height 0.5s;
            box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.1);
            line-height: 40px;
        }
        .drop a:link {
        	color:black;
        	text-decoration:none;
        }
         .drop a:visited {
        	color:black;
        	text-decoration:none;
        }
         .drop a:hover {
        	cursor: pointer;
            color:rgba(0, 0, 0, 0.5);
        }
        .drop ul {
            list-style:none;
        }
        .drop li {
            opacity: 1;
            transition: opacity 2s;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.514);
            color:rgba(0, 0, 0, 0.781);
        }
        /* 메인부분 */
 
        section {
            margin-top: 80px;
            margin: auto;
        }
        #adimg {
            height: 600px;
            background-image: url("https://i.postimg.cc/yYd7nsTK/main-Image.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            text-align: center;
        }
        #adimg .search {
            position: relative;
            top: 45%;
        }
        .hide{
		    display: none;
		}
        
        #selectValue {
           width: 100px;
            height: 30px;
           border: solid 1px #dadada;
           border-radius: 0px;
           text-align: center;
           box-shadow: 0 8px 8px rgba(0, 0, 0, 0.486);
       }
        
        .search input {
            width: 300px;
            height: 30px;
            border: none;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.486);
            padding-left: 10px;
            box-sizing: border-box;
        }
        .search button {
            height: 30px;
            width:50px;
            border: none;
            cursor: pointer;
            background-color: #69c7b5;
            box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.486);
        }
        #contents {
            background-color: #fff;
            /* height: 600px; */
            box-shadow: -0px -20px 20px rgba(0, 0, 0, 0.411);
        }
       /* board */
        #boardWrap {
            display: flex;
            padding-top: 60px;
            margin: auto;
            max-width:1530px;
        }
        #topBoard {
            background-color: #eeeeee;
            width:50%;
            max-width: 700px;
            margin: 10px 50px;
            height: 500px;
            box-sizing: border-box;
            padding: 30px;
            font-size: 14px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
        }
        #topBoard table, #teamBoard table {
        	border-collapse: collapse;
        	margin-top: 10px;
        	width: 100%;
        }
        #topBoard h3{
            color:red;
        }
    
        #topBoard th, #teamBoard th{
            border-bottom: 1px solid black;
        }
        #topBoard td,#teamBoard td {
            height:37px;
            padding:5px;
            box-sizing: border-box;
        }
        #topBoard tr:not(thead tr):hover {
            cursor: pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }
        /* 팀 구함 */
        #teamBoard {
            background-color: #f5f4f4;
            width: 40%;
            margin: 10px 50px;
            height: 500px;
            box-sizing: border-box;
            padding: 30px;
            font-size: 14px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
        }
        #teamBoard h3 {
            color: rgb(50, 161, 50);
        }
        #teamBoard tr:not(thead tr):hover {
            cursor: pointer;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        }
        #teamBoard table{
        	width:100%;
        }
      
         /* 사이드바 */
        .asideHide {
            position: fixed;
            top: 120px;
            left: 90px;
            background-color: white;
            border:none;
            width: 60px;
            height: 20px;
        }
        #postitBox {
            background-color: white;
            position: fixed;
            top: 95px;
            left: 20px;
            width: 200px;
            height: 30px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            padding:3px;
            box-sizing: border-box;
        }
        #postitBox button {
            margin: 0 8px;
            height: 25px;
            width: 40px;
            border: none;
            cursor: pointer;
        }
        .pink {
            background-color: #f4c4d6;
        }
        .yellow {
            background-color: #fff49c;
        }
        .blue {
            background-color: #9fc7e4;
        }
        .postit {
            position: fixed;
            top: 140px;
            left: 20px;
            width: 200px;
            height : 220px;
            text-align: left;
            z-index: 2;
            box-sizing: border-box;
            border-radius: 5px;
            border-bottom-right-radius: 60px 10px;
            transition: all 0.2s;
        }
        .postit:hover {
            border-bottom-right-radius: 70px 30px;
        }
        .left {
            float:left;
            height:100%;
            width:25px;
        }
        .yellow .left {
            background-color: #f8e65f;
        }
        .pink .left {
            background-color:#f0adc6 ;
        }
        .blue .left {
            background-color: #7cb9e4;
        }
        .mainNickName{
            height: 23px;
        	width: 160px;
        	font-size: 16px;
        	overflow: hidden;
        	text-overflow: ellipsis; 
        	white-space: nowrap; 
        	margin-left: 7px;
        	margin-top: 5px;
        }
        .mainIntro {
        	margin-top: 5px;
        	margin-left: 10px;
        	font-size: 12px;
        	overflow: hidden;
        	text-overflow: ellipsis; 
        	white-space: nowrap; 
        	height: 40px;
        	width: 160px;
        	font-weight: 600;
        }
        #shadow {
            width: 100px;
            height:40px;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 22px 30px 15px rgba(0, 0, 0);
            position: fixed;
            z-index: 2;
            top: 290px;
            left:94px;
            rotate: 6deg;
        }
        .none {
            display:none;
        }
        /* 1)회원정보 */
        #userInfo {
            text-align: center ;
            float: right;
            width: 175px;
            margin-top: 20px;
        }
        #userPT {
            margin: auto;
            border: 1px solid rgba(0, 0, 0, 0.514);
            background-image: url("https://ifh.cc/g/GCpQKq.png");
            background-size: 175px;
            background-repeat: no-repeat;
            background-position: 50% 53%;
            background-color: white;
            border-radius: 50%;
            height: 95px;
            width: 95px;
        }
        #logOut {
            font-size: 12px;
            color:#f2edea;
            border: none;
            border-radius: 5px;
            width:80px;
            height: 20px;
            background-color: #f382ac;
            cursor: pointer;
        }
        #userDataChange {
            font-size: 12px;
            color:#f2edea;
            border: none;
            border-radius: 5px;
            width:80px;
            height: 20px;
            background-color: #f382ac;
            cursor: pointer;
        }
        /* todoList */
        #todoList {
            margin: 10px 0;
            font-size: 12px;
            text-align: left;
            accent-color: #69c7b5;
            overflow: auto;
        }
        #todoList th{
        	text-align: center;
        }
        #todoList td{
            border-bottom: 1px dashed black;
            padding: 3px 0;
            width: 200px;
        }
        #todoList td:nth-child(2){
           width:150px;
        }
        #todoList button {
            margin: 5px 50px;
            width: 50px;
            background-color: white;
            border: none;
            border-radius: 5px;
            box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.514);
            cursor: pointer;
            text-align: center;
        }
        #todoText {
            width: 150px;
            font-size: 12px;
            padding-left: 5px;
            overflow: hidden;
        }
        
        /* TeamInfo */
        #TeamInfoP {
            box-sizing: border-box;
            padding: 10px;
            text-align: left;
            font-size: 15px;
            max-height: 197px;
    		overflow:auto;
        }
        #TeamInfoP::-webkit-scrollbar{
		    width: 5px;
		    height: 5px;
		}
		#TeamInfoP::-webkit-scrollbar-track{
		    background-color: rgba(0,0,0,0.1);
		    border-radius: 5px;
		}
		#TeamInfoP::-webkit-scrollbar-thumb {
		    background-color:#7cb9e4;
		    border-radius: 5px;
		}
        #TeamInfoP table td {
            border-bottom: 1px dashed black; 
            font-size: 13px;
        }
        #TeamInfoP span {
        	color:tomato;
        }
        #TeamInfoP td a:link{
        	color:black;
        	text-decoration:none;
        }
        #TeamInfoP td a:visited{
        	color:black;
        }
        
        /* footer */
        footer {
            /* position:absolute;  */
            height: 250px;
            width: 100%;
            box-sizing: border-box;
            padding: 0 25px;
            line-height: 60px;
            color: #8b634b;
            margin-top: 150px;
            border-top: 1px solid #8b644b9c;
            /* z-index: 50; */
            background-color: #fff;
        }
        
               
        /*로그인 영역*/
                 @media(min-width : 500px)
        {
            .main_login{width: 460px; margin: auto; margin-top: 250px;}
            .main_signup{width: 460px; margin: auto; margin-top: 150px;}
        }
        
        .main_login{
            text-align: center;
            /* margin-top: 200px; */
        }
        
        /*input 박스*/
        .box_wrap{
            margin: 0px 10px 20px 10px;
            padding: 10px;
            border: solid 1px #dadada;
            background: #fff;
        }
        
        /*input form*/
        .inputs{
            border: none;
            outline:none;
            width:100%;
        }
        
                /*로그인버튼박스*/
        .btn_wrap{
            height: 52px;
            line-height: 55px;
            margin: 10px 10px 10px 10px;
            border: solid 1px rgba(0,0,0,.1);
            background-color: #69acc7;
            color: #fff;
            cursor: pointer;
            
        }
        /*로그인버튼*/
        .login_btn{
            width:300px;
            height: 50px;
            background-color: #69acc7;
            border: none;
            color:#fff;
            font-size: 18px;
            outline:none;
            cursor: pointer;
        }
        
       

        /*약관*/
        .agreement_wrap{
            margin: 50px 0;
            text-align: center;
        }
        textarea{
            resize: none;
            background-color: #f2edea;
            /* color: #69acc7; */
        }

        /*약관과 이름과닉네임 체크박스*/
        .main_signup ul{
            display: flex;
            list-style: none;
        }
        .main_signup li{
            margin: 10px 10px;
            /* color: #036991; */
        }

        /*가입서식 공통*/
        .title{
            /* color: #036991; */
            margin: 5px 0px;
            font-size: 17px;
            font-weight: 900;
            
        }

        .s_inputs{
            margin: 0px 10px 8px 10px;
            padding: 10px;
            border: solid 1px #dadada;
            background: #fff;
            width: 400px;
        }

        .cerbtn{
            border: solid 1px rgba(0,0,0,.1);
            background-color: #8b634b;
            color: #fff;
            cursor: pointer;
        }

        /*회원가입버튼박스*/
        .btn_s_wrap{
            width: 300px;
            height: 40px;
            line-height: 40px;
            margin: 30px 10px 10px 60px;
            border: solid 1px rgba(0,0,0,.1);
            background-color: #69acc7;
            color: #fff;
            cursor: pointer;
            text-align: center;
        }
        /*가입버튼*/
        .sign_btn{
            background-color: #69acc7;
            border: none;
            color:#fff;
            font-size: 18px;
            outline:none;
            cursor: pointer;
        }
