@charset "UTF-8";
body {
	color : #353866;
	background-color: #e9e6eb;
}

.wrapp {
	width: 100%;
 	height : 100%;
 	text-align: center;
 	
 }
 
.wrapp .container {
	display:inline-block;
	margin-top : 150px;
	width : 1030px;
	height : 100%;
	border : 1px solid #99A799;
	border-radius : 2px;
	background-color: #FEF5ED;
	color : #99A799;
}
#edit_content {
	width : 1000px; 
	height : 500px; 
	resize : none;
	border : none;
	outline : none;
	color : #353866;
	
}

#comment{
	width : 1000px; 
	height : 120px; 
	resize : none;
	border : none;
	outline : none;
	background-color: #9dc4f1;
	color : #353866;
}


#view_com {
	width : 1000px; 
	height : 50px; 
	resize : none;
	border : none;
	border-radius : 5px;
	outline : none;
	background-color: #9dc4f1;
	color : white;
}

#view_re_com {
	width : 950px;
	height : 50px; 
	resize : none;
	border : none;
	border-radius : 5px;
	outline : none;
	background-color: #9dc4f1;
	color : white;
}

#real_edit_btn {
	display: none;
}
.hidden {
	display: none;
}
#articleNo {
	margin-top : 10px;
	margin-right : 10px;
}
#articlewriter {
	margin-top : 10px;
	margin-right : 10px;
}
#add {
	margin-top : 10px;
	margin-right : 10px;
}
#btn_list{
	margin-top : 10px;
}

#comment_name {
	float: left;
	margin-left : 30px;
}

.color_btn {
	border : 1px solid #353866;
	color : #353866;
	font-weight: 600;
}

.reply {
	display : none;	
}